
<%- include('../_partial/_header'); -%>

<div class="imgbox" style="display: grid; height: 100%;">
    <img class="center-fit" src='/about.png' style=" max-width: 114%;
    max-height: 100%;
    margin: -30px;">
</div>

<%- include ('../_partial/_footer'); -%>